/* Contact section styles */
#contact {
  background-color: rgba(18, 16, 23, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 80px 60px rgb(0 0 0 / 12%);
  margin: 0 auto;
  width: 75vw;
  max-width: 850px;
  padding: 50px 30px;
}

#contact h2 {
  color: #fdfcfd;
}

#contact span {
  color: #fdfcfd;
}
